:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
    min-height: 100vh;
}

button {
    appearance: none;
    outline: none;
    border: none;
}

header {
    margin-top: 2rem;
}

.header-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.game-names {
    display: flex;
    flex-direction: column;

    width: 75%;
    gap: 0.5rem;

    padding: 1rem;
    margin-bottom: 2rem;

    border-radius: 1rem;
    box-shadow: -0.5rem 0.5rem 0 #aaa;

    background-color: #ddd;
}

.game-names-text {
    font-size: 1.25rem;
    font-weight: 600;

    margin-bottom: 0.5rem;
}

.game-names-grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
    align-items: center;

    gap: 0.5rem;
}

.game-names input {
    font-size: 1rem;
    width: 16ch;

    background-color: #eee;
    border: none;
    border-radius: 0.5rem;
    outline: 0.125rem solid #777;

    padding: 0.125rem 0.5rem;

    color: #555;
}

.game-names input:focus {
    outline-color: #18b;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: clamp(200px, 50vw, 450px);
    flex-shrink: 0;

    gap: 1rem;

    padding: 1rem;
    margin: 1rem 0;

    background-color: #ddd;
    border-radius: 1rem;
    box-shadow: -0.5rem 0.5rem 0 #aaa;
}

.game-board-button:not(disabled) {
    aspect-ratio: 1 / 1;

    border-radius: 1rem;
    outline: 0.125rem solid #777;
    font-size: min(4rem, 300%);
    background-color: #eee;
}

.game-board-button:enabled:hover {
    background-color: #e2e2e2;
    box-shadow: 0 0.5rem 0 #aaa;
}

.game-board-button:disabled {
    opacity: 0.75;
    color: #707070;
}

.game-board-button.win {
    background-color: #0d7;
    color: #073;
    outline-color: #073;
    opacity: 0.75;
}

.game-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    margin-top: 2rem;
}

.game-restart-button {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    outline: 0.125rem solid #777;
    background-color: #eee;
    color: #555;
}

.game-restart-button:hover {
    background-color: #e2e2e2;
    box-shadow: 0 0.25rem 0 #aaa;
}

footer {
    width: 100%;
    background-color: #ddd;
    margin-top: -1rem;   

    padding: 1rem 0;

    display: flex;
    justify-content: center;
}