:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

header {
    margin-top: 2rem;
}

.header-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.game-names {
    display: flex;
    flex-direction: column;

    width: 75%;
    gap: 0.5rem;
}

.game-names-text {
    font-size: 1.25rem;
    font-weight: 600;

    margin-bottom: 0.5rem;
}

.game-names-grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
    align-items: center;

    gap: 0.5rem;
}

.game-names input {
    font-size: 1rem;
    width: 20ch;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 50vw;

    gap: 1rem;

    padding: 1rem;
}

.game-board-button {
    aspect-ratio: 1 / 1;
}

.game-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.game-restart-button {
    padding: 0.25rem 1rem;
}

footer {
    margin-bottom: 2rem;
}